<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KK1Q2RRQLM"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-KK1Q2RRQLM');
  </script>



  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="yandex-verification" content="eef333a56a2c814a" />

  <title>
  {{ if not .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}
  </title>

  <link rel="icon" type="image/x-icon" href="{{ .Site.Params.favicon }}">

  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}" />
  
  {{- if .Params.Author }}
    <meta name="author" content="{{ .Params.Author}}" />
  {{ end -}}
  
  {{- $styles := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") -}}
  {{- $styles := $styles| minify | fingerprint | resources.PostProcess -}}
  <link
    rel="stylesheet"
    href="{{ $styles.Permalink }}"
    integrity="{{ $styles.Data.Integrity }}"
  />
  
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ template "_internal/schema.html" . }}

  {{ if gt (len .Site.Languages) 1}}
    <meta name="lang" content="{{ .Site.Language }}" />
  {{ end }}



<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2557957536703477" crossorigin="anonymous"></script>
  
</head>
