{{ define "main" }}
  {{ $lastmodstr := (partial "date.html" (dict "date" .Lastmod "language" $.Page.Language "format" "long")) }}

  <article class="prose lg:prose-lg mx-auto my-8 dark:prose-dark px-4">

    <div id="breadcrumbs" class="text-gray-700 mb-4" style="text-decoration: none;">
      <small>
          {{- range .Ancestors.Reverse }}
            {{ if .Params.linkTitle }}
              <a href="{{ .RelPermalink }}">{{ .Params.linkTitle }}</a> /
            {{- else }}
              <a href="{{ .RelPermalink }}">{{ .Params.title }}</a> /          
            {{- end }}
          {{- end }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </small>
    </div>

    {{ with .Params.heading }}          
      <small class="py-2" style="text-transform: uppercase">{{ . }}</small>
    {{- end }}


    <h1 class="text-2xl font-bold">{{ .Title }}</h1>

      <div class="">
          {{ with .Params.contributors }}          
            by 
            {{- range . }}
              {{ . }}
            {{- end }}
          {{- end }}
          {{ with .Params.author }}          
              by {{ . }}
          {{- end }}          
          {{ with .Params.writer }}          
              by <a href="{{ .Url }}">{{ .Name }}</a>
          {{- end }}

        
          {{ with .Params.icon }}
            <img src="{{ . }}" class="rounded-circle" loading="lazy" style="border-radius: 50%; float: right; height: 30px" alt="Icon">
          {{ end }}
      </div>


    {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
    <h5 class="text-sm flex items-center flex-wrap">
      {{ with .Params.date }}              
      <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <rect x="4" y="5" width="16" height="16" rx="2" />
        <line x1="16" y1="3" x2="16" y2="7" />
        <line x1="8" y1="3" x2="8" y2="7" />
        <line x1="4" y1="11" x2="20" y2="11" />
        <rect x="8" y="15" width="2" height="2" />
      </svg>
        {{ .Format "January 2, 2006" }}
      {{ end }}

      <svg xmlns="http://www.w3.org/2000/svg" class="ml-3 mr-1" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="12" cy="12" r="9" />
        <polyline points="12 7 12 12 15 15" />
      </svg>
      {{ i18n "readingTime"}}{{ .ReadingTime }}&nbsp;{{ i18n "readTime" }}
      &nbsp;&bull;
      <svg xmlns="http://www.w3.org/2000/svg" class="mx-1" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
        <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
        <line x1="3" y1="6" x2="3" y2="19" />
        <line x1="12" y1="6" x2="12" y2="19" />
        <line x1="21" y1="6" x2="21" y2="19" />
      </svg>
      {{ .WordCount }}&nbsp;{{ i18n "words" }}
      {{ if not (or (or .Site.Params.hideOtherLanguages .Params.hideOtherLanguages) false) }}
        {{ if .IsTranslated -}}
          {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
          {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
          {{- $cleanLinks := apply $links "chomp" "." -}}
          {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
         
          &nbsp;&bull;&nbsp;{{ i18n "translationsLabel" }}&nbsp; {{ $linksOutput }}
       
        {{- end }}
      {{ end }}
    </h5>
    {{ end }}

    {{ if (or .Site.Params.toc .Params.toc) }}
      {{- partial "toc.html" . -}}
    {{ end }}
    
    <div class="dark:text-white text-black">
      {{ .Content }}      
    </div>

  </article>

  <div class="container">

    <div class="px-6 mx-4">
      <div class="flex flex-wrap justify-between my-2">
        {{ with .NextInSection }}
          <div class="button border rounded-lg p-2 dark:bg-secondary-100 dark:hover:bg-neutral-700 dark:hover:text-gray-700 hover:bg-gray-100" >
            <a href="{{ .Permalink | relURL }}" title="">
              <small class="break-words">{{ .Title }}</small>
              <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="icon mr-2" fill='gray'><path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/></svg>
            </a>
          </div>
        {{ end }}


        {{ with .PrevInSection }}
          <div class="button border rounded-lg p-2 dark:bg-secondary-100 dark:hover:bg-neutral-700 dark:hover:text-gray-700 hover:bg-gray-100">
            <a href="{{ .Permalink | relURL }}" class="button" style="right: 0px; float: right ">
              <small class="break-words">{{ .Title }}</small>
              <svg height="20" width="20" class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="icon ml-2" fill='gray'><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
              
            </a>
          </div>
        {{ end }}
      </div>
    </div>

    {{- partial "comments.html" . -}}
  </div>

  {{- partial "social.html" . -}}
{{ end }}
